<h1> Word Counter... "word?"</h1>
<form action="/form">
  <div class="form-group">
    <label for="user_word">Put a word here!</label>
    <input id="user_word" name="user_word" class="form-control" type="text">
  </div>
  <div class="user_sentence">
    <label for="user_sentence">Your sentence goes here!</label>
    <input id="user_sentence" name="user_sentence" class="form-control" type="text">
  </div>
  <br>
  <button type="sbmit" class="btn-success">Process!</button>
</form>
